.carousel-item.active {
  background-image: url("../img/slide-1.jpg");
}
.carousel-item.one {
  background-image: url("../img/slide-2.jpg");
}
.carousel-item.two {
  background-image: url("../img/slide-3.jpg");
}

.carousel-item {
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  z-index: 1;
}
.carousel-item .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.carousel-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.carousel-item h2 {
  font-size: 80px;
  color: #ffffff;
  margin: 0 0 10px;
  opacity: 0;
}
.carousel-item p {
  font-size: 30px;
  color: #eeeeee;
  margin: 0;
  opacity: 0;
}
.carousel-item.active h2 {
  animation: fadeInLeft 0.5s ease forwards;
}
.carousel-item.active p {
  animation: fadeInRight 0.5s ease forwards;
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.carousel-controls {
  position: absolute;
  left: 50%;
  bottom: 40px;
  z-index: 2;
  transform: translateX(-50%);
}
.carousel-indicators {
  position: relative;
  margin: 0;
}
.carousel-indicators [data-bs-target] {
  width: 70px;
  height: 70px;
  margin: 0 10px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  border: 4px solid transparent;
  transition: all 0.3s ease;
}
.carousel-indicators [data-bs-target].active {
  border-color: #ffffff;
  transform: scale(1.2);
}
.carousel-control-prev,
.carousel-control-next {
  z-index: 3;
  opacity: 1;
  height: 60px;
  width: 60px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  border-radius: 50%;
}
.carousel-control-prev:hover,
.carousel-control-next:hover {
  box-shadow: 0 0 10px #ffffff;
}
.carousel-control-prev {
  left: -65px;
}
.carousel-control-next {
  right: -65px;
}
.carousel-control-next img {
  width: 45px;
}
.carousel-control-prev img {
  width: 45px;
}
